body {
    font-family: "Manrope", sans-serif;
    background: #f8f9fb;
    margin: 0
}

:root {
    --dot-size: 12px;
    --dot-gap: 8px;
    --dot-color: #FF5F2D;
    --dot-speed: 900ms
}

#aiLoader {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-align: center
}

.dots-loader {
    display: inline-flex;
    align-items: center;
    gap: var(--dot-gap);
    margin-right: 5px
}

.dots-loader>span {
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
    background: var(--dot-color);
    opacity: .25;
    transform: scale(.7);
    animation: dotBlink var(--dot-speed) ease-in-out infinite
}

.dots-loader>span:nth-child(1) {
    animation-delay: 0ms
}

.dots-loader>span:nth-child(2) {
    animation-delay: calc(var(--dot-speed) * .25)
}

.dots-loader>span:nth-child(3) {
    animation-delay: calc(var(--dot-speed) * .5)
}

@keyframes dotBlink {
    0%,
    80%,
    100% {
        opacity: .25;
        transform: scale(.7)
    }
    40% {
        opacity: 1;
        transform: scale(1)
    }
}

.ask-ai-container {
    width: 600px;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20px;
    bottom: 10px;
    box-sizing: border-box;
    background-clip: padding-box;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 40px;
    z-index: 9;
    height: auto
}

.ask-ai-container:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(to right, #ffd600, #ff5F2d, #cf3708, #e78903)
}

.ask-ai-container.collapsed {
    width: auto;
    display: inline-block;
    cursor: pointer;
    height: auto
}

.ask-ai-container.collapsed .ask-ai-collapsible {
    display: none
}

.ask-ai-container .ask-ai-header {
    border-radius: 40px 40px 0 0
}

.ask-ai-container .ask-ai-header .ask-ai-title {
    left: 30px
}

.ask-ai-container .ask-ai-collapsible {
    max-height: 80vh;
    overflow-y: auto
}

.ask-ai-container.collapsed .ask-ai-header {
    border-radius: 40px
}

.ask-ai-container.collapsed .ask-ai-header .ask-ai-icon,
.ask-ai-container.collapsed .ask-ai-header .ask-ai-title {
    position: static
}

.ask-ai-container.collapsed .ask-ai-header .ask-ai-close {
    display: none
}

.ask-ai-header {
    background: #fff;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    border-radius: 40px;
    position: relative
}

.askai-center {
    display: flex;
    align-items: center
}

.ask-ai-header .ask-ai-icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden
}

.ask-ai-header .ask-ai-icon img {
    width: 100%
}

.ask-ai-icon {
    margin-right: 10px
}

.ask-ai-close {
    position: absolute;
    right: 15px;
    background: none;
    border: none;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer
}

.ask-ai-messages {
    background-color: #fff;
    padding: 16px 16px 0;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(80vh - 255px);
    scrollbar-width: thin;
    scrollbar-color: #888 #f2f3f6
}

.ask-ai-msg {
    margin-bottom: 20px
}

.user-msg {
    background: #f1f2f3;
    padding: 12px;
    border-radius: 8px;
    position: relative;
    font-size: 14px;
    color: #333
}

.user-msg i {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 1rem;
    color: #888;
    cursor: pointer
}

.ai-msg {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    color: #222 !important
}

.ai-avatar {
    height: 30px;
    display: flex;
    flex: 0 0 40px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #f9643d;
    font-size: 20px;
    margin-right: 7px
}

.ai-avatar img {
    width: 25px;
    margin-right: 2px
}

.ai-content h1,
.ai-content h2,
.ai-content h3,
.ai-content h4 {
    font-size: 20px;
    margin-top: 7px;
    margin-bottom: 7px
}

.ai-content p,
.ai-content li {
    font-size: 16px !important
}

.ai-content p:first-child {
    margin-top: 0
}

.ai-content strong {
    font-weight: 600
}

.ask-ai-link {
    background: #ee693f;
    color: #fff;
    padding: 2px 8px;
    border-radius: 12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 4px
}

.ask-ai-typing {
    background-color: #fff;
    padding: 10px 16px;
    color: #999;
    font-size: 13px;
    height: 40px
}

.ask-ai-input {
    background-color: #fff;
    display: flex;
    border-top: 1px solid #eee;
    padding: 12px 16px;
    position: relative
}

.ask-ai-input i {
    font-size: 18px;
    font-weight: 700;
    transform: rotate(45deg)
}

.ask-ai-input textarea,
.ask-ai-input input[type="text"] {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    background: #f2f3f6;
    color: #222;
    border-radius: 100px;
    font-size: 16px;
    padding-right: 100px;
    font-family: "Manrope", sans-serif;
    overflow: hidden;
    min-height: 68px;
    max-height: 120px;
    resize: none;
    overflow-y: auto;
    box-sizing: border-box;
    transition: height 0.2s ease;
    scrollbar-width: thin;
    scrollbar-color: #888 #f2f3f6
}

.ask-ai-input textarea.input-border-radius {
    border-radius: 28px !important
}

.ask-ai-input textarea::-webkit-scrollbar,
.ask-ai-messages::-webkit-scrollbar {
    width: 6px
}

.ask-ai-input textarea::-webkit-scrollbar-track,
.ask-ai-messages::-webkit-scrollbar-track {
    background: #f2f3f6;
    border-radius: 10px
}

.ask-ai-input textarea::-webkit-scrollbar-thumb,
.ask-ai-messages::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px
}

.ask-ai-input textarea::-webkit-scrollbar-thumb:hover,
.ask-ai-messages::-webkit-scrollbar-thumb:hover {
    background-color: #555
}

.ask-ai-input textarea::placeholder,
.ask-ai-input input[type="text"]::placeholder {
    color: #999
}

.ask-ai-input button {
    background: #f9643d;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 25px;
    top: 25px
}

.ask-ai-footer {
    background-color: #fff;
    text-align: center;
    font-size: 11px;
    color: #888;
    padding: 10px 16px;
    border-top: 1px solid #eee;
    border-radius: 0 0 40px 40px
}

.ask-ai-footer a,
.ask-ai-footer a:hover {
    color: #00018b !important;
    text-decoration: none
}

.sub-heading {
    color: #666
}

.query-tags {
    padding: 30px 0
}

.query-tags .query-tag {
    font-size: 14px;
    font-weight: 500;
    margin: 0 15px 7px 0;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background: #ffceb9;
    padding: 4px 10px;
    border-radius: 20px;
    white-space: break-spaces;
    color: #222 !important
}

@media only screen and (min-width:992px) {
    .user-msg {
        margin-left: 20%
    }
}

@media only screen and (max-width:1023px) {
    .ask-ai-container {
        width: 700px
    }
}

@media only screen and (max-width:767px) {
    .ask-ai-container {
        width: 390px;
        bottom: 20px
    }
    .ask-ai-container .ask-ai-collapsible {
        max-height: 66vh
    }
    .ask-ai-messages {
        height: calc(80vh - 310px)
    }
    .query-tags .query-tag {
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word
    }
    .ask-ai-input textarea,
    .ask-ai-input input[type="text"] {
        font-size: 14px;
        padding: 10px 50px 10px 14px
    }
}

@media only screen and (max-width:600px) {
    .ask-ai-container {
        width: 340px
    }
    .ask-ai-container .ask-ai-collapsible {
        max-height: 66vh
    }
    .ask-ai-messages {
        height: calc(80vh - 310px)
    }
}